# 忽略所有操作系统生成的文件  
.DS_Store  
Thumbs.db  
  
# 忽略IDE或编辑器特定文件  
.idea/  
*.iml  
*.ipr  
*.iws  
*.swp  
.vscode/  
  
# 忽略Python编译后的文件  
*.pyc  
  
# 忽略环境配置文件  
.env  
.env.local  
.env.development  
.env.test  
.env.production  
  
# 忽略虚拟环境目录  
venv/  
.venv/  
env/  
  
# 忽略数据库文件（根据需要调整）  
*.sqlite3  
*.db  
  
# 忽略日志文件  
*.log  
  
# 忽略临时文件和目录  
*.tmp  
temp/  
tmp/  
  
# 忽略其他不需要跟踪的文件和目录  
.gitkeep  
*.bak  
*.~  
*~

__pycache__*
